
<div style="background:linear-gradient(to right,rgb(216, 47, 216),rgb(136, 14, 136)) ;color: white;display: flex;justify-content: space-between;">
    <h2 style="display: inline-block;">
        This is footer
    </h2>
    <a href="/" style="color: white;margin: auto 10px ;"><h2 style="display: inline-block;">Home</h2></a>
</div>