
<div id="header-container">
   <div>
        <h1>Codeial</h1>
   </div>
   <div>
       <ul>
        <%if(locals.user) { %>
            <li><h3><a href="/users/profile-info/<%= locals.user._id %>"><%= locals.user.name %></a></h3></li>
            <li><a href="/users/signout" class="a"> Sign out </a></li>
        <% } else { %>
            <li><a href="/users/signup" class="a"> Sign up </a></li>
            <li><a href="/users/signin" class="a">Sign in</a></li>
        <% } %>
        </ul>
   </div>
</div>