<link rel="stylesheet" href="/css/chatbox.css">
<% if(locals.user) { %>
        
    <div id="user-chat-box">
        <div id="min-max-chatbox-Btn"><p>Minimize</p></div>
        <ul id="messages">
            <!-- <li class="other-messages" style="position: relative;">
                <span></span> //New other's msg
                <h4></h4> //user email
            </li> -->

            <!-- <li class="my-messages">
                <span></span> //New my msg
                <h4></h4> //user email
            </li> -->
            
        </ul>

        
            <form action="" id="new-message-form">
                <input type="text" id="new-message" placeholder="Type here .."></input>
                    
                <button type="submit" id="send-message-Btn">SEND</button>
            </form>
        

    </div>
<% } %>