<div>
    <form action="/posts/create" method="Post" id="new-post-form">
        <textarea name="content"  cols="30" rows="10" placeholder="Type here .. "></textarea>
        
        <button type="submit">Post</button>
    </form>
    
</div>