<div>

   

    <% if(locals.user) { %>  
    
        <form action="/posts/create" method="Post" id="new-post-form" style="margin:0px 100px;">
            <textarea name="content"  cols="30" rows="10" placeholder="Type here .. "></textarea>
            <input type="hidden" name="user" value="<%= locals.user._id %>" >
            <button type="submit">Post</button>
        </form>
        
    <% } %> 

    <%-include('posts');-%>
</div>
<script src="/js/post_comments.js"></script>
<script src="/js/posts.js"></script>
