<div>
    <form action="/users/reset-password/<%=token%>" method="POST">
        <input type="password" name="password" placeholder="Password" required>
        <input type="passeord" name="confirmpassword" placeholder="Confirm Password" required>
        <button type="submit">Set new Password</button>
    </form>
</div>