// html{
//     scroll-behavior: smooth ;
// }
body{
    margin: 0px;
    padding: 0px;

}


:root{
    --post-bg:white;
    --post-content-col:rgb(31, 30, 30);
    --post-content-font-fam:Ubuntu,sans-serif;
    --post-username-col:#385898;
    --post-content-font-size:15px;
    --comment-username-col:#385898;
    --comment-bg:#e0f4fa;
    --comment-content-font-fam:Ubuntu,sans-serif;
    --comment-content-font-size:13px;
    
}