#sign-up-container{
    background-color: white;
    form{
        
        display: flex;
        #input-container{
            input{
                display: block;
                margin:40px;
            }
        }

        button{
            display: block;
            height: 20px;
            width: 200px;
            margin:20vh auto
        }
    }
}