#user-chat-box {
  position: fixed;
  bottom: 0%;
  right: 0%;
  border: 1px solid lightgray;
  height: 330px;
  min-height: 330px;
  width: 360px;
  max-width: 360px;
  background-color: whitesmoke;
  overflow: auto; }
  #user-chat-box #messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
    #user-chat-box #messages #other-messages {
      background-color: lightpink;
      min-width: 130px;
      max-width: 130px;
      min-height: 40px;
      padding: 5px;
      font-size: 19px;
      height: auto;
      word-break: normal;
      margin: 15px;
      margin-left: 30px; }
      #user-chat-box #messages #other-messages span {
        text-align: left;
        margin: 5px;
        min-width: inherit;
        max-width: inherit;
        min-height: inherit; }
    #user-chat-box #messages #my-messages {
      min-width: 130px;
      max-width: 130px;
      min-height: 40px;
      background-color: lightskyblue;
      padding: 5px;
      font-size: 19px;
      height: auto;
      margin: 2px;
      margin-left: 200px;
      word-break: normal; }
      #user-chat-box #messages #my-messages span {
        text-align: right;
        min-width: inherit;
        max-width: inherit;
        min-height: inherit;
        margin: 5px; }
  #user-chat-box #new-message-form {
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 340px;
    max-width: 340px; }
    #user-chat-box #new-message-form input {
      width: 80%;
      height: 30px;
      display: inline-block;
      box-sizing: border-box;
      padding-inline-start: 10px; }
    #user-chat-box #new-message-form button {
      height: 30px;
      width: 20%;
      display: inline-block;
      right: 0%;
      box-sizing: border-box;
      background-color: lawngreen;
      border: 1px solid grey;
      font-weight: bold; }
