.comment {
  display: flex;
  margin: 20px 0px; }
  .comment .user-avatar-comments {
    display: inline-block;
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px gray; }
  .comment .username-content-container {
    padding: 0px 10px;
    display: flex;
    background-color: lightblue;
    border-radius: 20px;
    margin-left: 10px;
    width: 80%;
    background-color: var(--comment-bg);
    max-width: 80%;
    height: auto; }
    .comment .username-content-container .comment-username {
      display: inline-block;
      font-family: inherit;
      color: var(--comment-username-col);
      text-transform: capitalize;
      font-size: 15px;
      margin-top: 10px;
      font-weight: 600; }
    .comment .username-content-container .comment-content {
      text-align: justify;
      display: inline-block;
      border-radius: 20px;
      font-family: var(--comment-content-font-fam);
      margin-left: 10px;
      max-width: 90%;
      height: auto;
      font-size: var(--comment-content-font-size);
      letter-spacing: 0.04rem;
      word-spacing: 0.07rem;
      line-height: 1.15rem;
      margin-top: 10px; }
